all:
  children:
    bastion:
      hosts:
        bastion-host:
          ansible_host: 52.140.96.216
          ansible_user: azureuser
          ansible_ssh_private_key_file: ~/.ssh/taskflow_azure
    
    app_servers:
      hosts:
        app-vm:
          ansible_host: 10.0.10.4
          ansible_user: azureuser
          ansible_ssh_private_key_file: ~/.ssh/taskflow_azure
          ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q azureuser@52.140.96.216 -i ~/.ssh/taskflow_azure"'
      vars:
        app_port: 5000
        app_name: taskflow
        acr_login_server: taskflowacr67f05626.azurecr.io
        acr_name: taskflowacr67f05626
        db_host: taskflow-db-67f05626.postgres.database.azure.com
        db_name: taskflow
        db_user: taskflowadmin
        # db_password should be passed via vault or environment variable
